.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
}

.filterGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.filterGroupBox {
    display: flex;
    border: 1px solid  rgba(26, 22, 53, 1);
    border-radius: 8px;
    overflow: hidden;
}

.filterBtn {
    background-color: transparent;
    border: none;
    color: #ffffffcc;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.active {
    background-color: rgba(26, 22, 53, 1);
    color: white;
    border-radius: 8px;
}

.apparatusContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
}

.iconWrapper:hover .icon {
    transform: scale(1.1);
}

.label {
    color: white;
    margin-top: 8px;
    font-size: 14px;
}