.liveContent {
    padding: 20px;
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    overflow-x: auto;

    scrollbar-width: thin;
    scrollbar-color: #888 #222;
}

.liveContent::-webkit-scrollbar {
    height: 10px;
}

.liveContent::-webkit-scrollbar-track {
    background: #222;
    border-radius: 5px;
}

.liveContent::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.liveContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.8fr 4fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    min-width: 1200px;
}

.tableHeader {
    font-weight: bold;
    margin-bottom: 10px;
}

.gymnastCell {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gymnastRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inquiryWrapper {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    min-width: 120px;
}

.inquiryBadge {
    color: rgba(255, 156, 7, 1);
    padding: 2px 0;
    margin-left: -20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
}

.flagWrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.flag {
    width: 20px;
    height: 15px;
}

.apparatusIcon {
    width: 24px;
    height: 24px;
}

.statusBadge {
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    width: 95px;
    text-align: center;
}

.wait {
    background-color: rgba(245, 161, 0, 1);
}

.go {
    background-color: rgba(2, 209, 105, 1);
}

.blueBox {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 139, 236, 1);
    font-size: 16px;
}

.tableRowWithBorder {
    position: relative;
    padding: 20px 0;
}

.tableRowWithBorder::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(106, 33, 244, 0) 0%, rgba(106, 33, 244, 0.9) 44.79%);
    min-width: 1200px;
}