.tabs-wrapper {
  padding-top: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tabs-container {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tabs {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-between;
  position: relative;
}

.tab {
  color: white;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 20px 20px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  width: 100%;
  min-width: 150px;
}

.tab.active {
  font-weight: bold;
}

.tab .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
  }

  70% {
    box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.tab-indicator-track {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #111222;
  z-index: 0;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #0af;
  transition: all 0.3s ease;
  width: 0;
  left: 0;
  z-index: 1;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrowLeft {
  left: 5px;
}

.arrowRight {
  right: 5px;
}

.arrowLeft:hover,
.arrowRight:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  .tab {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
  }

  .arrowLeft,
  .arrowRight {
    display: none;
  }
}